<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code Compiler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <h1>Code Compiler</h1>
    <!-- Display the question details -->
    <h2 th:text="${challenge.question.title}"></h2>
    <p th:text="${challenge.question.description}"></p>

    <!-- Language choice and source code input fields -->
    <form th:action="@{/compiler/compile}" method="post">
        <input type="hidden" th:each="testCase, iter : ${challenge.testCases}" th:field="*{challenge.testCases[__${iter.index}__].input}"/>
        <input type="hidden" th:each="testCase, iter : ${challenge.testCases}" th:field="*{challenge.testCases[__${iter.index}__].expectedOutput}"/>
        <div class="form-group">
            <label for="language">Language</label>
            <select class="form-control" id="language" th:field="*{code.language}">
                <option value="c">C</option>
                <option value="java">Java</option>
                <option value="cpp">C++</option>
                <option value="python">Python</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sourceCode">Source Code</label>
            <textarea class="form-control" id="sourceCode"th:field="*{code.sourceCode}" rows="10" required></textarea>
        </div>

        <!-- Display the test cases -->
        <h2>Test Cases</h2>
        <div class="form-group" th:each="testCase, iter : ${challenge.testCases}">
            <label th:for="|input${iter.index}|">Input</label>
            <textarea class="form-control" th:id="|input${iter.index}|" rows="3" th:text="${testCase.input}" readonly></textarea>
            <label th:for="|expected${iter.index}|">Expected Output</label>
            <textarea class="form-control" th:id="|expected${iter.index}|" rows="3" th:text="${testCase.expectedOutput}" readonly></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>
